$background-color-primary: #FFFFFF;
$background-color-secondary: #FAFAFA;

$font-color-primary: white;
$font-color-secundary: white;

$shadow: 5px 0 5px 0 rgba(0,0,0,0.1);
$shadow-strong: 15px 0 15px 0 rgba(0,0,0,0.2);

$text-color-primary: #7D7C7D;
$text-color-secondary: #FFFFFF;

$primary: #7D7C7D;
$detail-color: #ff9a11;