@import '../settings/colors.scss';

.Cards {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    width: auto;
    transition: 0.3s;
    border-radius: 5px;
    margin: 30px;
    align-self: auto;
}

.Card:hover {
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.4);
}

.Title-card {
    background: $detail-color;
    color: $text-color-secondary;
    padding: 5%;
    margin: 0;
}

.Card-image {
    width: 50%;
    border-radius: 5px 5px 0 0;
}


/* Tablet */
@media only screen and (min-width: 600px) {
    .Cards {
        flex-direction: row;
    }
    .Card {
        margin: 15px;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .Cards {
        flex-direction: row;
    }
    .Card {
        margin: 30px;
        width: 20%;
        height: auto;
    }
    .Card-image {
        width: 50%;
        margin: 15% 0;
    }
}
