footer {
    display: flex;
    text-align: center;
    color: $primary;
}

.Footer-links a {
    color: $primary;   
}
.Footer-links a {
    color: $primary;   
}
.Footer-links a:hover {
    color: $primary;
    border-bottom: 3px solid $detail-color;
}
