@import '../settings/colors.scss';

.Header {
    top: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    padding: 1vw 1.5vw;
    height: 70px;
    box-shadow: $shadow;
    background: $background-color-primary;
    overflow: hidden;
}
.Header-logo {
    width: 65px;
    height: 65px;
}
.Header-links li {
    padding: 0 3vw 0 0;
    font-size: 1em;
}
.Header-links li a {
    color: $text-color-primary;
    text-decoration: none;
}

.Header-links li a:active {
    border-bottom: 3px solid $detail-color;
}
.Header-links li a:hover {
    color: $primary;
    border-bottom: 3px solid $detail-color;
}

@media screen and (min-width : 600px) {
    .Header {
        justify-content: space-between;
    }
    nav {
        align-self: center;
        margin: 0 1em 0 0;
    }
}
