@import '../settings/colors.scss';

.Informations {
    display: flex;
    flex-direction: column;
}

.Information{
    background: $background-color-primary;
    box-shadow: $shadow-strong;
    padding: 5%;
}

.Information-image {
    width: 100%;
    margin-bottom: 3%;
}

.Information-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.Information-title {
    color: $detail-color
}

#Information-second {
    background: $background-color-secondary;
}

/* Tablet */
@media only screen and (min-width: 600px) {    
    .Information {
        display: flex;
        flex-direction: row;
    }

    .Information-image {
        width: 35vw;
        height: 35vw;
        margin-right: 10%;
    }

    .Information-content {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin-right: 5%;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {    
    .Information {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Information-image {
        width: 25vw;
        height: 25vw;
        margin: 0 5% 0 0;
    }

    .Information-content {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin-right: 5%;
    }
}