.Header {
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    padding: 1vw 1.5vw;
    height: 70px;
    border-bottom: 2px solid #F2F2F2;
    background: white;
    overflow: hidden;
}
.Header-logo {
    width: 70px;
    height: 70px;
}
.Header-links li {
    padding: 0 3vw 0 0;
    font-size: 1em;
}
.Header-links li a {
    color: #7D7C7D;
    text-decoration: none;
}

.Header-links li a:active {
    border-bottom: 2px solid yellow;
    font-weight: 300;
}
.Header-links li a:hover {
    color: #B6B6B6;
    border-bottom: 2px solid yellow;
    font-weight: 300;
}

@media screen and (min-width : 600px) {
    .Header {
        justify-content: space-between;
    }
    nav {
        align-self: center;
        margin: 0 1em 0 0;
    }
}

.Hero {
    margin-top: 5vw;
    background: teal;
    padding: 10vw;
    text-align: center;
}

button {
    border: 2px solid #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
button {
    color: black; 
}

button:hover {
    background-color: #008CBA;
    color: white;
}